<div class="navbar" role="navigation">
  <nav class="menu">
    <div class="menu-left">
      <a href="/" class="site-title">{{ site.title }}</a>
    </div>
    
    <input type="checkbox" id="menu-trigger" class="menu-trigger" />
    <label for="menu-trigger">
      <span class="menu-icon">MENU</span>
    </label>

    <div class="trigger">
      <div class="trigger-container">
        {%- assign url = page.url -%}
        {%- assign menus = site.data.menus -%}
        {%- if menus %}
          {%- for menu in menus -%} 
            {%- if url == menu.url -%}
              <a class="menu-link active" href="{{ menu.url }}">[{{ menu.title }}]</a>
            {%- else -%} 
              {%- if menu.external -%}
                <a class="menu-link" href="{{ menu.url }}" target="_blank" rel="noopener">[{{ menu.title }}]</a>
              {%- else -%}
                <a class="menu-link" href="{{ menu.url }}">[{{ menu.title }}]</a>
              {%- endif -%} 
            {%- endif -%} 
          {%- endfor -%}
        {%- else -%}
          <a class="menu-link {% if url == '/' %}active{% endif %}" href="/">[HOME]</a>
          <a class="menu-link {% if url == '/about/' %}active{% endif %}" href="/about">[ABOUT]</a>
          <a class="menu-link {% if url == '/archive/' %}active{% endif %}" href="/archive">[ARCHIVE]</a>
          <a class="menu-link {% if url == '/settings/' %}active{% endif %}" href="/settings">[SETTINGS]</a>
        {%- endif -%}
      </div>
    </div>
  </nav>
</div>
