---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<figure class="max-w-screen-md mx-auto text-center">
    <svg aria-hidden="true" class="w-12 h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
    <blockquote>
    	<a target="_blank" href="https://youtu.be/_EV2Frf5P2E">
        <p class="text-2xl italic font-medium text-gray-900 dark:text-white">
        	"Variable <b>$x</b> is What You Make of It"
        </p>
        </a>
    </blockquote>
    <figcaption class="flex items-center justify-center mt-6 space-x-3">
    	<img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="/assets/img/ippsec.jpg" alt="Bordered avatar">
        <!-- <img class="w-8 h-8 rounded-full" src="/assets/img/ippsec.jpg" alt="profile picture"> -->
        <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
            <cite class="pr-3 font-medium text-gray-900 dark:text-white">Ippsec</cite>
            <cite class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Infosec Youtuber</cite>
        </div>
    </figcaption>
</figure>