---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    const body = document.body;
    const data = body.getAttribute("data-theme");

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else if (state === "light") {
        body.removeAttribute("data-theme");
      } else {
        localStorage.setItem("theme", data);
      }
    };
 
    initTheme(localStorage.getItem("theme"));
    
    setTimeout(() => body.classList.remove("notransition"), 75);
  </script>

  {% include navbar.html %}
  <div class="wrapper post">
    <main class="page-content" aria-label="Content">
      <article itemscope itemtype="https://schema.org/BlogPosting">

        <header class="header">
          {% if page.tags and page.tags != empty %}
          <div class="tags">
            {% assign tags = page.tags %}
            <span itemprop="keywords">
              {% for tag in tags %}
              <a class="tag"
                href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </div>
          {% endif %}
          <h1 class="header-title" itemprop="headline">{{ page.title | escape }}</h1>
          {% if page.date %}
          <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              <span itemprop="name">{{ site.author.name }}</span>
            </span>
            <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
              {{ page.date | date: "%b %d, %Y" }}
            </time>
            <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
            <span hidden itemprop="image">{{ page.image }}</span>
            <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
          </div>
          <br>
          {%- for tag in page.categories -%}
        <span class="bg-blue-100 text-blue-800 text-s font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">#{{tag}}</span>
        {%- endfor -%}
          {% endif %}
        </header>

        <div class="page-content" itemprop="articleBody">
          {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1 h_max=4 %}
          {% if page.tweet %}
          <p>Comments this article on 
            <a href="https://twitter.com/{{site.twitter}}/status/{{page.tweet}}">Twitter</a>.
          </p>
          {% endif %}
        </div>
      </article>

      <br>
      <div align="center">
          <img src="http://www.hackthebox.eu/badge/image/190694" alt="Hack The Box"> <br>
          <!-- <script src="https://www.hackthebox.eu/badge/190694"></script> -->
        <p>It would be appreciated if you give me a respect+ on HTB</p> <br>

<button type="button" data-modal-target="crypto-modal" data-modal-toggle="crypto-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
  <ion-icon class="w-4 h-4 mr-2" name="star-outline"></ion-icon>
  Give respect
</button>

<!-- Main modal -->
<div id="crypto-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
    <div class="relative w-full h-full max-w-md md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="crypto-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                <span class="sr-only">Close modal</span>
            </button>
            <!-- Modal header -->
            <div class="px-6 py-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                    Thanks ❤️
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6">
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                  Choose your platform
                </p>
                <ul class="my-4 space-y-3 text-gray-900 dark:text-white">
                    <li>
                        <a target="_blank" href="https://app.hackthebox.com/users/190694" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <ion-icon class="h-4 text-green-400" name="cube-outline"></ion-icon>
                            <span class="flex-1 ml-3 whitespace-nowrap text-gray-900 dark:text-white">app.hackthebox.com</span>
                            <span class="inline-flex items-center  justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">New</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.hackthebox.com/home/users/profile/190694" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <ion-icon class="h-4 text-green-400" name="cube"></ion-icon>
                            <span class="flex-1 ml-3 whitespace-nowrap text-gray-900 dark:text-white">hackthebox.com</span>
                            <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Old</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

      </div>
    
      {% if page.comments %}
        {% include comments.html %}
      {% endif %}

    </main>

    {% if page.modified %}
      <small class="post-updated-at">updated_at {{page.modified | date: "%d-%m-%Y"}}</small>
    {% endif %}
    {% if page.next or page.previous %}
      {% include navigation.html %}
    {% endif %}

    {% include footer.html %}
  </div>
</body>

</html>
